<app-navbar></app-navbar>

<div id="show-item" *ngIf="item">

  <!-- Action Buttons -->
  <div class="action-buttons" style="margin-bottom: 1rem;">
    <button class="btn btn-secondary" (click)="goBack()">← Tilbage</button>

    <button class="btn btn-success floatingbtn" (click)="makeQRCode()">Generer QR kode</button>
    <button class="btn btn-success floatingbtn" (click)="openStatusModal()">Tilføj ny status</button>
    <button class="btn btn-primary floatingbtn" (click)="openEditModal(this.item)">Rediger genstand</button>
  </div>

  <h1>Genstand</h1>

  <!-- Item Image -->
  <div class="item-image-container" style="margin-bottom: 1.5rem; text-align: center;">
    <ng-container *ngIf="item.itemImageUrl; else noImage">
      <a [href]="item.itemImageUrl" target="_blank" rel="noopener noreferrer">
        <img [src]="item.itemImageUrl" alt="Billede af genstand" class="item-image" />
      </a>
    </ng-container>
    <ng-template #noImage>
      <p class="no-image-text">Intet billede fundet</p>
    </ng-template>
  </div>


  <!-- Basic Info -->
  <div class="item-basic-info">
    <p><strong>Serienummer:</strong> {{ item.serialNumber }}</p>
    <p *ngIf="itemType"><strong>Genstandstype:</strong> {{ itemType.typeName }}</p>
  </div>

  <!-- Current Status -->
  <div *ngIf="currentStatusHistory" class="status-section">
    <h2>
      Nuværende status
      <hr />
    </h2>
    <p><strong>Status:</strong> {{ getStatusName(currentStatusHistory) }}</p>
    <p><strong>Note:</strong> {{ currentStatusHistory.note }}</p>
  </div>

  <!-- Item Info -->
<div *ngIf="itemInfoObj && (objectKeys(itemInfoObj).length > 0)" class="item-group-section">
    <div (click)="toggleItemGroup()" class="toggleCollapse">
      <h2>
        Item Information
        <span *ngIf="!collapsedItemGroup">&#x25B2;</span>
        <span *ngIf="collapsedItemGroup">&#x25BC;</span>
        <hr />
      </h2>
    </div>
    <div *ngIf="!collapsedItemGroup" class="collapsible-content">
      <div *ngFor="let key of objectKeys(itemInfoObj)">
          <p><strong>{{ key }}:</strong> {{ itemInfoObj[key] }}</p>
        </div>
    </div>
  </div>

  <!-- Location -->
  <div *ngIf="item.room" class="location-section">
    <div (click)="toggleLocation()" class="toggleCollapse">
      <h2>
        Lokation
        <span *ngIf="!collapsedLocation">&#x25B2;</span>
        <span *ngIf="collapsedLocation">&#x25BC;</span>
        <hr />
      </h2>
    </div>

    <div *ngIf="!collapsedLocation" class="collapsible-content">
      <p><strong>Lokale:</strong> {{ item.room.roomNumber }}</p>
      <div *ngIf="item.room.building">
        <p><strong>Bygning:</strong> {{ item.room.building.buildingName }}</p>
        <div *ngIf="item.room.building.buildingAddress">
          <p>
            <strong>Adresse:</strong>
            {{ item.room.building.buildingAddress.road }},
            {{ item.room.building.buildingAddress.zipCode }}
            {{ item.room.building.buildingAddress.city }}
          </p>
          <p><strong>Region:</strong> {{ item.room.building.buildingAddress.region }}</p>
        </div>
      </div>
    </div>
  </div>


  <!-- Loan Info -->
  <div *ngIf="item.loan" class="loan-section">
    <h2>
      Udlån
      <hr />
    </h2>
    <p><strong>Låne dato:</strong> {{ item.loan.loanDate | date : "dd/MM/yyyy" }}</p>
    <p><strong>Forventet retur dato:</strong> {{ item.loan.returnDate | date : "dd/MM/yyyy" }}</p>
    <div *ngIf="user">
      <h4>Lånt af</h4>
      <p><strong>Navn:</strong> {{ user.name }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
    </div>
  </div>

  <!-- Status Histories -->
  <div (click)="toggleStatusHistories()" class="toggleCollapse">
    <h2>
      Statushistorik
      <span *ngIf="!collapsedStatusHistories">&#x25B2;</span>
      <span *ngIf="collapsedStatusHistories">&#x25BC;</span>
      <hr />
    </h2>
  </div>
  <div *ngIf="!collapsedStatusHistories" class="collapsible-content">
    <li *ngFor="let statusHistory of item.statusHistories" class="history-item">
      <h4>Status</h4>
      <hr />
      <p><strong>Status:</strong> {{ getStatusName(statusHistory) }}</p>
      <p><strong>Dato:</strong> {{ statusHistory.statusUpdateDate | date : "dd/MM/yyyy" }}</p>
      <p><strong>Note:</strong> {{ statusHistory.note }}</p>
    </li>
  </div>


</div>


<!-- Edit Item Modal -->
<div class="modal" *ngIf="showEditModal">
  <div class="modal-content">
    <span class="close" (click)="closeEditModal()">&times;</span>
    <h2>Rediger genstand</h2>
    <form (ngSubmit)="editItem()">
      <div class="form-group">
        <label for="editItemGroupId">Genstandsgruppe</label>
        <select class="form-control p-2" id="editItemGroupId" [(ngModel)]="selectedItem.itemGroupId"
          name="editItemGroupId" required>
          <option *ngFor="let itemGroup of itemGroups" [value]="itemGroup.id">
            {{ itemGroup.modelName }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="editRoomId">Lokale</label>
        <select class="form-control p-2" id="editRoomId" [(ngModel)]="selectedItem.roomId" name="editRoomId" required>
          <option *ngFor="let room of rooms" [value]="room.id">
            {{ room.roomNumber }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="editSerialNumber">Serienummer</label>
        <input type="text" class="form-control" id="editSerialNumber" [(ngModel)]="selectedItem.serialNumber"
          name="editSerialNumber" />
      </div>

      <div class="form-group">
        <label for="itemImage">Genstandbillede:</label>
        <input type="file" class="form-control" id="itemImage" accept="image/*" (change)="onImageSelected($event)"
          [disabled]="isUploadingImage" />

        <!-- Preview selected image -->
        <div
          *ngIf="selectedImagePreview"
          class="mt-2">
          <label>Forhåndsvisning: </label>
          <img [src]="selectedImagePreview" class="img-thumbnail fixed-preview ml-2"
            style="max-height: 150px;" />

          <!-- Reset/Delete Image Button -->
          <div class="mt-2 mb-4">
            <button type="button" class="btn btn-sm btn-warning" (click)="resetImage()">
              Fjern billede
            </button>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Gem ændringer</button>
        <button type="button" class="btn btn-secondary" (click)="closeEditModal()">
          Annuller
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Status Modal -->
<div class="modal" *ngIf="showStatusModal">
  <div class="modal-content">
    <span class="close" (click)="closeStatusModal()">&times;</span>
    <h2>Tilføj ny status</h2>
    <form (ngSubmit)="createStatusHistory()">
      <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" id="status" [(ngModel)]="newStatusHistory.statusId" name="status" required>
          <option *ngFor="let status of statuses" [value]="status.id">
            {{ status.name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="note">Note</label>
        <input type="text" class="form-control" id="note" [(ngModel)]="newStatusHistory.note" name="note" required />
      </div>
      <button type="submit" class="btn btn-primary">Tilføj</button>
      <button type="button" class="btn btn-secondary" (click)="cancelStatus()">
        Annuller
      </button>
    </form>
  </div>
</div>

<!-- QR code Modal -->
<div class="modal" *ngIf="showQRCodeModal">
  <div class="modal-content">
    <h2>QR kode</h2>
    <div *ngIf="qrCodeStyle" style="margin-top: 20px">
      <img [src]="qrCodeUrl" alt="QR Code" style="
          width: 300px;
          height: 300px;
          border: 1px solid #000;
          display: block;
          margin: 0 auto;
        " />
      <button class="btn btn-success qrbtn" (click)="saveQRCodeAsImage()">
        Gem QR kode som billede
      </button>
    </div>
    <button type="button" class="btn btn-secondary qrbtn" (click)="closeQRModal()">
      Luk
    </button>
  </div>
</div>