<app-navbar></app-navbar>
<div class="archive-menu">
  <div class="menu-grid">
    <div class="menu-item" routerLink="/request-archive">
      <div class="square">
        <h2>Anmod Arkiv</h2>
      </div>
    </div>

    <div class="menu-item" routerLink="/user-archive">
      <div class="square">
        <h2>Bruger Arkiv</h2>
      </div>
    </div>

    <div class="menu-item" routerLink="/item-archive">
      <div class="square">
        <h2>Genstands Arkiv</h2>
      </div>
    </div>

    <div class="menu-item" routerLink="/itemgroup-archive">
      <div class="square">
        <h2>Genstands gruppe Arkiv</h2>
      </div>
    </div>

    <div class="menu-item" routerLink="/itemtype-archive">
      <div class="square">
        <h2>Genstandstype Arkiv</h2>
      </div>
    </div>

    <div class="menu-item" routerLink="/loan-archive">
      <div class="square">
        <h2>Låne Arkiv</h2>
      </div>
    </div>
  </div>
</div>
