body {
    height: 100% !important;
  }
  
  body {
    -webkit-font-smoothing: antialiased !important;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    background-color: #26422a !important;
    color: #fafafa !important;
  }
