<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h2>Gendstands typer</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>typeName</th>
            <th *ngIf="currentUser?.role?.id === 1 || currentUser?.role?.id === 4">Handling</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let itemType of itemTypes" class="clickable-row">
            <td>{{ itemType.typeName }}</td>
            <td *ngIf="currentUser?.role?.id === 1 || currentUser?.role?.id === 4">
              <!--the span ? if true and : if false-->
              <span [title]="isDeleteDisabled(itemType.id) ? 'Denne type har lånede genstande' : ''">
                <button type="button" class="btn btn-danger" [disabled]="isDeleteDisabled(itemType.id)"
                  (click)="openArchiveModal(itemType)">
                  Arkiver
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!--CREATE -->
    <div class="col-md-6">
      <h2>Opret ny genstandstype</h2>
      <form (ngSubmit)="onSubmit()" #itemTypeForm="ngForm">
        <div class="form-group">
          <label for="typeName">Genstandstype navn</label>
          <input type="text" class="form-control" id="typeName" name="typeName" [(ngModel)]="newItemType.typeName"
            required />
        </div>
        <button type="submit" class="btn btn-success mt-3">Opret</button>
      </form>
    </div>
  </div>
</div>


<!--MODAL FOR ARCHIVE ITEMTYPE-->
<div class="modal" tabindex="-1" role="dialog" id="ArhciveModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Arkiver Genstandstype</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeArchiveModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="ar">Skriv note:</label>
          <input type="text" class="form-control" id="archiveNote" name="archiveNote" [(ngModel)]="archiveNote"
            placeholder="Skriv note om hvorfor genstandstypen arkiveres" />
          <div class="text-danger" *ngIf="showErrorNote">Note er påkrævet.</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeArchiveModal()">
          Annuller
        </button>
        <button type="button" class="btn btn-danger" (click)="confirmArchiveItemType()">
          Arkiver
        </button>
      </div>
    </div>
  </div>
</div>